$retina: '(min-resolution: 144dpi), (min-resolution: 1.5dppx)';
$tablet-widths: '(min-width: 576px)';
$desktop-widths: '(min-width: 992px)';
$black: #000000;
$white: #ffffff;
$accent: #64c29e;
$bg-light: #f7f7f7;
$bg-dark: #282f35;
$bg-replace: #e3e3e9;
$font-header: #4d4959;
$font-title: #353738;
$font-text: #848789;
$font-placeholder: #c8c8c8;
$carousel-switch: #a9afb3;
$light-gray: #d3d7d9;
